DATABASE_URL=postgresql://postgres:postgres@localhost:5433/vector_search_test
EMBEDDING_MODEL=gemini-embedding-2-preview
EMBEDDING_DIM=3072
GOOGLE_API_KEY=
ENABLE_LANGFUSE=false
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=http://localhost:3000
DEBUG_EMBEDDING_RESPONSE=false
ENABLE_TOKEN_COUNT=true
ENABLE_LANGFUSE_FLUSH=false
